@import 'base';
@import 'var';
@import 'mixin';


body {
    min-width: 320px;
}

.header-wrap {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);

    h1.logo {
        margin-right: 20px;
    }

    nav {
        flex: 1;
    }

    .gnb {
        display: flex;
        gap: 10px;

        .login {
            margin-left: auto;
        }
    }
}

/*layout -----*/

[class *='bld-row'] {
    display: flex;
    flex-wrap: nowrap;

    &.cnt {
        align-items: center;
    }

    [class *='bld-col'] {
        $bld-style: 12;

        @for $bld-style from 1 to $bld-style {
            .bld-col-#{$bld-style} {
                flex-grow: calc(100% / $bld-style);
            }

        }
    }
}

#app {
    h2 {
        margin-bottom: 20px;
    }
}

form {

    .inp-item {
        display: flex;
        flex-direction: column;

        &+.inp-item {
            margin-top: 15px;
        }
    }

    label {
        font-size: 12px;
        color: #a5a5a5;
        display: inline-block;
        margin-bottom: 5px;
    }

    input {
        border: 1px solid #dadada;
        border-radius: 4px;
        font-size: 16px;
        height: 40px;
        padding-left: 10px;

        &::placeholder {
            color: #a5a5a5;
        }
    }
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    >*+* {
        margin-left: 8px;
    }
}

.btn {
    min-width: 120px;
    border-radius: 4px;
    background-color: #2c2cc7;
    color: #fff;
    height: 40px;

    &.outline {
        border: 1px solid #c9c9c9;
        background-color: transparent;
        color: #333;

        &:hover {
            background-color: #fafafa;
        }
    }

    &:hover {
        background-color: #21216f;
    }

    &:disabled {
        background-color: #dadada;
    }
}

.base-content {
    margin: 30px auto;
    padding: 0 20px;
    height: calc(100vh - (108.5px + 84.5px));
    max-width: 840px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
    font-size: 12px;
    color: #dadada;
    background-color: #fafafa;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.05);

}


.cnt-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;

    h2 {
        position: relative;
        width: 100%;
        text-align: center;
        color: #696969;

        &::before {
            content: '';
            position: absolute;
            top: -260px;
            left: 50%;
            transform: translateX(-50%);
            width: 240px;
            height: 240px;
            background: url(../assets/images/icons/error.svg) no-repeat center;
            background-size: contain;
            filter: grayscale(1);
            opacity: .5;

        }
    }

    span {
        color: #a5a5a5;
    }


}